<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AAAAMapper">

    <insert id="putAAAAsToMysql"  useGeneratedKeys="true" keyProperty="id">
        insert into t_distrm_cap (mdmID, name, capacity) values
        <foreach item="AAAA" collection="list" separator=",">
            (#{AAAA.mdmID}, #{AAAA.name}, #{AAAA.capacity})
        </foreach>
    </insert>


</mapper>